<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mailer 360 - Email Marketing</title>
    <meta name="description" content="At Mailer360, we provide innovative email marketing solutions to elevate your business online.">
    <meta name="keywords" content="Email Marketing,Business Growth Mailer360">

    <meta name="title" content="Mailer 360 - Email Marketing">
    <meta name=' copyright ' content=' Creative Network Technology Private Limited. All rights reserved'>


    <meta name="address" content="3rd Floor, Local Shopping Complex, 18 - A, Wing F, Ring Rd, above LIC Office, A Block, Naraina Vihar, New Delhi, Delhi 110028" />
    <meta name="City" content="New Delhi" />
    <meta name="State" content="Delhi" />
    <meta name="country" content="India" />
    <meta name="geo.region" content="IN" />
    <meta name="geo.position" content="28.624143004160466, 77.13601964072026">
    <meta name='designer' content="Karan Malhotra">
    <meta name='url' content="mailer360.com">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="/home">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mailer 360 - Email Marketing">
    <meta property="og:description" content="Providing innovative Email marketing solutions to elevate your business online.">


    <meta property="twitter:domain" content="/">
    <meta property="twitter:url" content="/home">
    <meta name="twitter:title" content="Mailer 360 - Email Marketing">
    <meta name="twitter:description" content="Providing innovative email marketing solutions to elevate your business online.">



    

     <link href="/css/contact.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">



    <link href="/css/index2.css" rel="stylesheet" />


    <link href="/css/index3.css" rel="stylesheet" />

    
    

 <style>
  .responsive-img {
    width: 100%;
    max-width: 880px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 1024px) {
    .responsive-img {
      max-width: 880px;
    }
  }

  @media (max-width: 897px) {
    .responsive-img {
      max-width: 850px;
    }
  }

  @media (max-width: 853px) {
    .responsive-img {
      max-width: 710px;
    }
  }

  @media (max-width: 768px) {
    .responsive-img {
      max-width: 590px;
    }
  }

  @media (max-width: 480px) {
    .responsive-img {
      max-width: 350px;
    }
  }

  @media (max-width: 375px) {
    .responsive-img {
      max-width: 280px;
    }
  }

  @media (max-width: 344px) {
    .responsive-img {
      max-width: 260px;
    }
  }
</style>







</head>
<body>

   
<%- include('../partial/header') %>


<br/><br/><br/><br/><br/>
<img src="/images/404.jpg" class="responsive-img" />

<br/><br/><br/><br/><br/>
 <script>
        const openBtn = document.getElementById('open-btn');
        const closeBtn = document.getElementById('close-btn');
        const offcanvasHeader = document.getElementById('offcanvas-header');

        // Function to open the off-canvas header
        openBtn.addEventListener('click', () => {
            offcanvasHeader.style.left = '0';
        });

        // Function to close the off-canvas header
        closeBtn.addEventListener('click', () => {
            offcanvasHeader.style.left = '-100%';
        });
    </script>
<%- include('../partial/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const toggleBtn = document.getElementById('toggleBtn');
        const icon = document.getElementById('icon');
        const offcanvas = document.getElementById('offcanvasNav');
        toggleBtn.style.backgroundColor = "green";
        offcanvas.addEventListener('show.bs.offcanvas', () => {
            icon.innerHTML = '&times;'; // X icon
            icon.style.color = "white";
        });

        offcanvas.addEventListener('hide.bs.offcanvas', () => {
            icon.innerHTML = '&#9776;'; // Hamburger icon
        });
    </script>
    

</body>


</html>
